{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Content
{% endblock %}

{% block body %}
    <h4>{{ head }} for {{ title }}</h4>
    <hr>
    <form action="{% url 'edit' %}" style="width: 70%" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="content">Body</label>
            <textarea class="form-control" name="content" id="content" rows="15">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Page</button>
    </form>
{% endblock %}